<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      E&EWeatherSite
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">&e&WeatherSite</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <ion-searchbar id="search-city" (ionInput)="HandleInput()" #mySearchBar placeholder="Digite sua busca"></ion-searchbar>
    <ion-list id="city-list">
      <ion-item *ngFor="let resultado of resultados">
        <ion-button target="_blank" [href]="resultado.url" class="search-item">
          {{ resultado.name }} - {{resultado.region}}, {{resultado.country}}
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
  <div id="container">
    <ion-card id="weather-card">
      <ion-card-header>
        <ion-card-title>
          {{this.name}}
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>